<div class="navegate">
    <ul>        
        <li>
            <a routerLink="/search-clime">Busca opção 1</a>
        </li>
        <li>
            <a routerLink="/search-clime2">Busca opção 2</a>
        </li>
        <li>
            <a routerLink="/weather-results">Pesquisar Clima</a>
        </li>
        <li>
            <a routerLink="/register">Cadastro Usuário</a>
        </li>
        <li>
            <a routerLink="/register-login">Cadastro Login</a>
        </li>
    </ul>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>
